.ui.container.basic.segment
  h1.ui.blue.header Your courses
hr
if professor.courses.length <=0
  .ui.warning.message
    p You haven't created any courses yet!
else
  .ui.container
    table.ui.table.single.line.unstackable
      thead
        tr
          th Course ID
          th Name
          th Slot
          th # Students
          th
      tbody
        each course in professor.courseDetails
          tr
            td #{course.courseID}
            td #{course.name}
            td #{course.slot}
            td #{course.students.length}
            td
              a.ui.animated.vertical.red.button(href=`/course/delete/${course._id}`)
                .visible.content Delete
                .hidden.content
                  i.close.icon

.ui.divider
.ui.container
  a.ui.button.primary(href="/course/create") Create course