.ui.container.basic.segment
  h1.ui.blue.header Your registered courses
hr
if student.courses.length <=0
  .ui.warning.message
    p You haven't registered any courses yet!
else
  .ui.container.basic.segment
    table.ui.table.single.line.unstackable
      thead
        tr
          th Course ID
          th Name
          th Slot
          th Professor
          th
      tbody
        each course in student.courseDetails
          tr
            td #{course.courseID}
            td #{course.name}
            td #{course.slot}
            td #{course.professorDetails.name}
            td.center.aligned
              //- a.ui.button.red(href=`/course/drop/${course._id}`)
              //-   i.close.icon
              //-   | Drop
              a.ui.animated.vertical.red.button(href="/login/professor")
                .visible.content Drop
                .hidden.content
                  i.close.icon
                

.ui.divider
.ui.container
  a.ui.button.primary(href="/course/register") Register courses
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
//- script(src='https://semantic-ui.com/javascript/library/tablesort.js')
//- script(src="script.js")